version: "3.9"
volumes:
  gorest_pg_data:
services:
  gorest-api:
    environment:
      - JWTSecretKey=12345678
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./:/home/root/project
    depends_on:
      - gorest-pg
    stdin_open: true
    tty: true
    command: "air -c src/.air_linux.toml"
  gorest-pg:
    image: "postgres:11"
    restart: always
    environment:
      POSTGRES_DB: main_1
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - gorest_pg_data:/var/lib/postgresql/data
